* { margin: 0; padding: 0;}
.psyProgressBar {
	margin: 2em auto;
	border-radius : 8px;
	background: #fff;
	padding: 0;
	border: 0;
	text-align: center;
	height: 20px;
	box-shadow: 1px 2px rgba(0,0,0,.3) inset, 0 0 0 1px rgba(0,0,0,.5);
	overflow:hidden;
	width: 200px;
	position: relative;
}		.psyProgressBar__line {
			border: none;
			background: none;
			display: block;
			border-radius : 8px;
			box-shadow: 1px 2px rgba(0,0,0,.3) inset, 0 0 0 1px rgba(0,0,0,.5);
			background: -o-linear-gradient(#4c4, #8f8 50%, #4c4);
			width: 100%;
			height: 100%;
			overflow:hidden;
		}
		.psyProgressBar__text { 
			width: 100%; 
			position: absolute; 
			left: 0; 
			z-index: 1; 
			top: 50%;
			text-align: center;
			overflow:hidden;
			border-radius: 8px 8px;
			margin-top: -10px;
			font: bold italic 14px "Trebuchet MS", Arial, Helvetica, sans-serif;
		}

.psyProgressBar__line::-moz-progress-bar {
	background: -moz-linear-gradient(#4c4, #8f8 50%, #4c4);
	border-radius: 8px 0 0px 0;
}
.psyProgressBar__line::-webkit-progress-bar {
	background: #fff;
	box-shadow: 1px 2px rgba(0,0,0,.3) inset, 0 0 0 1px rgba(0,0,0,.5);
	border-radius: 8px 8px;
}
.psyProgressBar__line::-webkit-progress-value {
	background: -webkit-linear-gradient(#4c4, #8f8 50%, #4c4);
	border-radius: 8px 0 0px 0;
}
.psyProgressBar_color_black > progress::-moz-progress-bar{
	background: -moz-repeating-radial-gradient(black, black 5px, white 5px, white 10px);
	
}
.psyProgressBar_color_red  > progress::-moz-progress-bar{
	background: -moz-repeating-linear-gradient(red, blue 20px, red 40px);
	
}
.psyProgressBar_color_three-color > progress::-moz-progress-bar {
	background: -moz-linear-gradient(90deg, red, transparent, blue);
	
}

.psyProgressBar_color_black > progress::-webkit-progress-value {
	background: -webkit-repeating-radial-gradient(black, black 5px, white 5px, white 10px);
	
}
.psyProgressBar_color_red > progress::-webkit-progress-value{
	background: -webkit-repeating-linear-gradient(red, blue 20px, red 40px);
	
}	
.psyProgressBar_color_three-color > progress::-webkit-progress-value {
	background: -webkit-linear-gradient(90deg, red, transparent, blue);
	
}	

.psyProgressBar_width_300 { width: 300px;}
.psyProgressBar_width_100 { width: 100px;}
.psyProgressBar_width_50 { width: 50px;}
.psyProgressBar_width_10 { width: 10px;}
.psyProgressBar_width_100P { width: auto;}
.psyProgressBar_height_50 { height: 50px;}
.psyProgressBar_height_100 { height: 100px;}

	

	.noSupportProgress {
		width: 0px;
		background: -webkit-linear-gradient(#4c4, #8f8 50%, #4c4);
		border-radius: 8px 8px;
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47d44e', endColorstr='#7ef87e',GradientType=0 ); /* IE6-9 */
		position: absolute;
		height: 100%;
		left: 0;
		top: 0;
		overflow:hidden;
	}
	
	.psyProgressBar_color_black > .noSupportProgress {
		background: -webkit-repeating-radial-gradient(black, black 5px, white 5px, white 10px);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#ffffff',GradientType=0 );
	}
	.psyProgressBar_color_red > .noSupportProgress {
		background: -webkit-repeating-linear-gradient(red, blue 20px, red 40px);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe0c23', endColorstr='#f3d441',GradientType=0 );
	}
	.psyProgressBar_color_three-color > .noSupportProgress {
		background: -webkit-linear-gradient(90deg, red, transparent, blue);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f59ee', endColorstr='#1fee41',GradientType=0 );
	}
.zz {
   border: 1px dotted rgb(190, 190, 190); 
   padding: 5px;
   padding-BOTTOM: 12px;
   margin-left: 17px; 
   margin-top:45; 
   margin-right: 20px; 
   background-color: lightyellow;
   text-align: left;
}
tt {FONT-SIZE: 12px; COLOR: #666666}