AddDefaultCharset utf-8

ErrorDocument 401 default
ErrorDocument 403 default
ErrorDocument 404 /
ErrorDocument 500 default

<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php?page=$1 [L,QSA]
</IfModule>