#	Mod_security can interfere with uploading of content such as attachments. If you
#	cannot attach files, remove the "#" from the lines below.

ErrorDocument 401 default
ErrorDocument 403 default
ErrorDocument 404 /
ErrorDocument 500 default

#RewriteEngine on
#RewriteRule ^index/([0-9]+)/? index.php?id=$1 [L]

#RewriteCond %{HTTP_USER_AGENT} ^.*iPad.*$
#RewriteRule ^(.*)$ http://mobile.your-site.com [R=301]

<filesMatch "\.(php|htm|html|css|js)$">
AddDefaultCharset UTF-8
</filesMatch>